header{
    background: #0B173D;
    color: blanchedalmond;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Times New Roman',}
audio{
    margin-left: 120px;
    height: 30px;
    width: 330px;
}
p{
    color: #0b173d00;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 1000px;
    background-color: #0B173D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 5px 9%;
}
body{
    height: 100vh;
}
footer{
    background-color: rgb(0, 0, 0);
    color: bisque;
    margin-bottom: 0;
}
header ul,#contacto ul,footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul,footer ul {
    display : flex;
    place-content: space-between;
    
}

header,main.asaid,footer {
    padding: 1em;
}
#conteCarrusel{
    border: 3px solid #B78F0D;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.tarjeta{
    height: 100%;
    position: relative;
}
.imgCarrusel{
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
}
.flechasCarrusel{
    top: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
i{
    color:#B78F0D;
}
.boton-reg{
    background-color: #B78F0D;
}
.imag{
    margin-top: 3px;
    height: 90px;
    width: 225px;
}
.logo{
    width: 150px;
}
.REGISTRO{
    background-color:black;
    color: #B78F0D;
    border-radius: 0.5em;
    font-weight: bold;
    display: inline-block;
}
.REGISTRO:hover{
color: black;
background-color:rgba(206, 5, 247, 0.705);
}
.contenedor{
    margin-top: 25px ;    
}
.contenedor1{
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.fotoPrincipal{
    height: 450px;
    width: 275px;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: large;
}
h2{
    color: #0b173d00;
}

.imagcompra {
    
    align-items: end;
    justify-content: end;
    display: flex;
    margin-top: px;
    height: 50px;
    width: 50px;
}

